git+git://github.com/guineawheek/aiotoa.git#egg=aiotoa
discord.py
asyncpg
discord.py[voice]
aiotba
async_timeout
googlemaps
datetime
geopy
fuzzywuzzy
beautifulsoup4
uvloop
python-Levenshtein
python-dateutil
